<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itlapps.team8.childrenchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.MainActivityFather"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.ChildsActivity"
            android:parentActivityName=".activities.MainActivityFather"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Slider" />
        <activity
            android:name=".activities.AddChildActivity"
            android:parentActivityName=".activities.MainActivityFather"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Slider"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.EditChildActivity"
            android:parentActivityName=".activities.ChildsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Slider"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activities.ContactsActivity"
            android:parentActivityName=".activities.MainActivityFather"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Slider" />
        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Slider"
            android:windowSoftInputMode="stateAlwaysHidden"/>

    </application>

</manifest>